<html>
<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

  <style>
    .notice {
      color: #0084f0;
    }

    .alert {
      color: #df434f;
    }
  </style>
</head>

<body>
<h1>Web版 TYC管理システム</h1>

<h2>おはようございます、<%= @username %> さん</h2>

<p class="notice"><small><%= session[:notice] %></small></p>
<% session[:notice] = nil # 念のため使い終わったら消す %>
<p class="alert"><small><%= session[:error] %></small></p>
<% session[:error] = nil # 念のため使い終わったら消す %>
<p class="alert"><small><%= session[:error_detail] %></small></p>
<% session[:error_detail] = nil # 念のため使い終わったら消す %>

<%= form_with model: @form do |f| %>
  <table class="table table-striped table-bordered" id="tyc-table">
    <tbody>
    <tr>
      <th>送信先</th>
      <th>取引額</th>
      <th>取引理由</th>
      <th>入力フォーム操作</th>
    </tr>
    <%= f.nested_fields_for :parameters, wrapper_tag: :tr do |q| %>
      <td><%= q.select :uid, @target_uids %></td>
      <td><%= q.number_field :tyc, class: 'form-control sum-target' %></td>
      <td><%= q.text_field :reason, class: 'form-control' %></td>
      <td><%= q.remove_nested_fields_link '削除', class: 'btn btn-danger', role: 'button' %></td>
    <% end %>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td><%= f.add_nested_fields_link :parameters, '追加', class: 'btn btn-primary', role: 'button' %></td>
    </tr>
    <tr>
      <td></td>
      <td><b>合計： <span id="total_sum_value"></span> TYC</b></td>
      <td><%= f.submit '取引実行', class: 'btn btn-primary', data: { confirm: 'hoge' } %></td>
    </tr>
    </tbody>
  </table>
<% end %>

</body>
</html>

<script>
  var removeNumberList = [];

  // 初期合計TYCを表示
  $(document).ready(function () {
    $("#total_sum_value").html(0);
  });

  // 合計TYCの更新
  function updateSum() {
    let count = 0;
    let calculated_total_sum = 0;

    $("#tyc-table .sum-target").each(function () {
      var textbox_value = $(this).val();
      if ($.isNumeric(textbox_value) && removeNumberList.indexOf(count.toString()) == -1) {
        calculated_total_sum += parseFloat(textbox_value);
      }
      count++;
    });
    $("#total_sum_value").html(addComma(calculated_total_sum));
  }

  // フォーム入力時に合計TYCを更新
  $("#tyc-table").on('input', '.sum-target', function () {
    updateSum()
  });

  // フォーム削除時に合計TYCから削除した分を引くための処理
  $("#tyc-table").on('click', '.remove_nested_fields_link', function () {
    let index = this.getAttribute("data-delete-association-field-name").match(/\[\d+\]/)[0].replace(/\[|\]/g, '');
    removeNumberList.push(index);
    updateSum();
  });

  // 数値を3桁ずつのカンマ区切りに変換
  function addComma(num) {
    return String(num).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, '$1,');
  }
</script>