<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<body>
<div id="formWrapper">
  <div id="form">
    <div class="logo">
      <span><%= image_tag('logo.png', :size => '128x128', :alt => 'アイコン') %></span>
      <span class="span-title">Web版 TYC管理システム</span>
      <p>おはようございます、<%= @username %> さん</p>
    </div>


    <% if session[:success_message].present? %>
      <p class="success-message">
        <small><%= session[:success_message] %></small>
      </p>
      <% session[:success_message] = nil # 念のため使い終わったら消す %>
    <% end %>
    <% if session[:notice].present? %>
      <p class="notice"><small><%= session[:notice] %></small></p>
      <% session[:notice] = nil # 念のため使い終わったら消す %>
    <% end %>
    <% if session[:error].present? %>
      <p class="alert"><small><%= session[:error] %></small></p>
      <% session[:error] = nil # 念のため使い終わったら消す %>
    <% end %>
    <% if session[:error_detail].present? %>
      <p class="alert"><small><%= session[:error_detail] %></small></p>
      <% session[:error_detail] = nil # 念のため使い終わったら消す %>
    <% end %>

    <%= form_with model: @form do |f| %>
      <table class="table table-bordered table-hover" id="tyc-table">
        <tbody>
        <thead class="thead-dark">
        <tr>
          <th>送信先</th>
          <th>取引額</th>
          <th>取引理由</th>
          <th>入力フォーム操作</th>
        </tr>
        </thead>
        <%= f.nested_fields_for :parameters, wrapper_tag: :tr do |q| %>
          <td align="center"><%= q.select :uid, @target_uids, {}, class: 'form-control' %></td>
          <td align="center"><%= q.number_field :tyc, class: 'form-control sum-target' %></td>
          <td align="center"><%= q.text_field :reason, class: 'form-control' %></td>
          <td align="center"><%= q.remove_nested_fields_link '削除', class: 'btn btn-danger', role: 'button' %></td>
        <% end %>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td align="center"><%= f.add_nested_fields_link :parameters, '追加', class: 'btn btn-primary', role: 'button' %></td>
        </tr>
        <tr>
          <td></td>
          <td><b>合計： <span id="total_sum_value"></span> TYC</b></td>
          <td></td>
          <td align="center"><%= f.submit '取引実行', class: 'btn btn-success', data: { confirm: 'TYCを譲渡します。よろしいですか？' } %></td>
        </tr>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
</body>
</html>

<script>
  $(document).ready(function () {
    var formInputs = $('input[type="email"],input[type="password"]');
    formInputs.focus(function () {
      $(this).parent().children('p.formLabel').addClass('formTop');
      $('div#formWrapper').addClass('darken-bg');
      $('div.logo').addClass('logo-active');
    });
    formInputs.focusout(function () {
      if ($.trim($(this).val()).length == 0) {
        $(this).parent().children('p.formLabel').removeClass('formTop');
      }
      $('div#formWrapper').removeClass('darken-bg');
      $('div.logo').removeClass('logo-active');
    });
    $('p.formLabel').click(function () {
      $(this).parent().children('.form-style').focus();
    });
  });

  var removeNumberList = [];

  // 初期合計TYCを表示
  $(document).ready(function () {
    $("#total_sum_value").html(0);
  });

  // 合計TYCの更新
  function updateSum() {
    let count = 0;
    let calculated_total_sum = 0;

    $("#tyc-table .sum-target").each(function () {
      var textbox_value = $(this).val();
      if ($.isNumeric(textbox_value) && removeNumberList.indexOf(count.toString()) == -1) {
        calculated_total_sum += parseFloat(textbox_value);
      }
      count++;
    });
    $("#total_sum_value").html(addComma(calculated_total_sum));
  }

  // フォーム入力時に合計TYCを更新
  $("#tyc-table").on('input', '.sum-target', function () {
    updateSum()
  });

  // フォーム削除時に合計TYCから削除した分を引くための処理
  $("#tyc-table").on('click', '.remove_nested_fields_link', function () {
    let index = this.getAttribute("data-delete-association-field-name").match(/\[\d+\]/)[0].replace(/\[|\]/g, '');
    removeNumberList.push(index);
    updateSum();
  });

  // 数値を3桁ずつのカンマ区切りに変換
  function addComma(num) {
    return String(num).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, '$1,');
  }
</script>

<style>
  body {
    background: url(http://www.timurtek.com/wp-content/uploads/2014/10/form-bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'HelveticaNeue', 'Arial', sans-serif;

  }

  a {
    color: #58bff6;
    text-decoration: none;
  }

  a:hover {
    color: #aaa;
  }

  .span-title {
    font-size: 25px;
  }

  .pull-right {
    float: right;
  }

  .pull-left {
    float: left;
  }

  .clear-fix {
    clear: both;
  }

  div.logo {
    text-align: center;
    margin: 20px 20px 30px 20px;
    fill: #566375;
  }

  .head {
    padding: 40px 0px 10px 0px
  }

  .logo-active {
    fill: #44aacc !important;
  }

  #formWrapper {
    /*background: rgba(0, 0, 0, .2);*/
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .3s ease;
  }

  .darken-bg {
    background: rgba(0, 0, 0, .5) !important;
    transition: all .3s ease;
  }

  div#form {
    position: absolute;
    width: 90%;
    height: auto;
    background-color: #fff;
    margin: auto;
    border-radius: 5px;
    padding: 10px;
    top: 50%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: -275px;
  }

  div.form-item {
    position: relative;
    display: block;
    margin-bottom: 40px;
  }

  input {
    transition: all .2s ease;
  }

  input.form-style {
    color: #8a8a8a;
    display: block;
    width: 90%;
    height: 44px;
    padding: 5px 5%;
    border: 1px solid #ccc;
    -moz-border-radius: 27px;
    -webkit-border-radius: 27px;
    border-radius: 27px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #fff;
    font-family: 'HelveticaNeue', 'Arial', sans-serif;
    font-size: 105%;
    letter-spacing: .8px;
  }

  .form-style:focus {
    outline: none;
    border: 1px solid #58bff6;
    color: #58bff6;
  }

  div.form-item p.formLabel {
    position: absolute;
    left: 26px;
    top: 10px;
    transition: all .4s ease;
    color: #bbb;
  }

  .formTop {
    top: -22px !important;
    left: 26px;
    background-color: #fff;
    padding: 0 5px;
    font-size: 14px;
    color: #58bff6 !important;
  }

  .formStatus {
    color: #8a8a8a !important;
  }

  input[type="submit"].login {
    float: right;
    width: 112px;
    height: 37px;
    -moz-border-radius: 19px;
    -webkit-border-radius: 19px;
    border-radius: 19px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #55b1df;
    border: 1px solid #55b1df;
    border: none;
    color: #fff;
    font-weight: bold;
  }

  input[type="submit"].login:hover {
    background-color: #fff;
    border: 1px solid #55b1df;
    color: #55b1df;
    cursor: pointer;
  }

  input[type="submit"].login:focus {
    outline: none;
  }

  .success-message {
    color: #00f0ad;
  }

  .notice {
    color: #f08d18;
  }

  .alert {
    color: #df434f;
  }
</style>