<html>
<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

  <style>
    .notice {
      color: #0084f0;
    }

    .alert {
      color: #df434f;
    }
  </style>
</head>

<body>
<h1>Web版 TYC管理システム</h1>

<h2>おはようございます、<%= @username %> さん</h2>

<p class="notice"><small><%= session[:notice] %></small></p>
<% session[:notice] = nil # 念のため使い終わったら消す %>
<p class="alert"><small><%= session[:error] %></small></p>
<% session[:error] = nil # 念のため使い終わったら消す %>

<%= form_with model: @form do |f| %>
  <table class="table table-striped table-bordered">
    <tbody>
    <tr>
      <th>送信先</th>
      <th>取引額</th>
      <th>取引理由</th>
      <th>入力フォーム操作</th>
    </tr>
    <%= f.nested_fields_for :parameters, wrapper_tag: :tr do |q| %>
      <td><%= q.select :uid, @target_uids %></td>
      <td><%= q.number_field :tyc, class: 'form-control' %></td>
      <td><%= q.text_field :reason, class: 'form-control' %></td>
      <td><%= q.remove_nested_fields_link '削除', class: 'btn btn-danger', role: 'button' %></td>
    <% end %>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td><%= f.add_nested_fields_link :parameters, '追加', class: 'btn btn-primary', role: 'button' %></td>
    </tr>
    </tbody>
  </table>
  <%= f.submit '取引実施' %>
<% end %>

</body>
</html>